urxvt.background: #000011
urxvt.foreground: #bfbfbf
urxvt.font: -xos4-terminus-medium-r-normal--14-140-72-72-c-80-*-*
!urxvt.font: xft:xos4 Terminus:pixelsize=14
urxvt.visualBell: true
urxvt.urgentOnBell: true
urxvt.scrollstyle: plain
urxvt.scrollBar_right: true
urxvt.scrollWithBuffer: true
urxvt.scrollTtyOutput: false
urxvt.scrollTtyKeypress: true
urxvt.saveLines: 10000
urxvt.cursorBlink: true
urxvt.pointerBlank: true
urxvt.secondaryScroll: true
urxvt.cutchars: "\\ `\"'&()*,:;<=>?@[]{|}/"

dzen2.font: -xos4-terminus-medium-r-normal--12-120-72-72-c-60-*-*

xmessage.center: TRUE
